{{d-button action=(action "showGlimmer") translatedLabel="Glimmer" id="glimmer-button"}}
{{d-button action=(action "showWidgets") translatedLabel="Widgets" id="widgets-button"}}
{{#if useGlimmer}}
  <h1>Mode: Glimmer</h1>
  <Glimmer::UserMenu/>
{{/if}}
{{#if useWidgets}}
  <h1>Mode: Widgets</h1>
  {{mount-widget widget="user-menu"}}
{{/if}}
